$BlueBorder: rgba(0, 123, 255, 0.8);
$MainFont: 'Grandiflora One', serif;
$MainFontColor: rgba(43, 0, 122, 0.6);
$BGC-New:rgba(93, 255, 166, 0.3);
$BGC-Progress:rgba(153, 189, 255, 0.3);
$BGC-Complete:rgba(255, 220, 140, 0.3);
$RepeatTodo:rgba(28, 61, 32, 0.372)